
{% extends 'index.html' %}

{% block content %}
<H1>Information of students from TIC center (center)</H1>
<table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Rol</th>

    </tr>
{% for student in data %}
    <tr>
        <td>{{student.id}}</td>
        <td>{{student.name}}</td>
        <td>{{student.first_last_name}} {{student.second_last_name}}</td>
        <td>{{student.rol}}</td>
        <td><a href="{% url 'student' student.id %}">More information</a></td>
        <td><button><a href="{% url 'update_user' student.id %}">Edit</a></button></td>
        <td><button><a href="{% url 'delete_user' student.id %}">Delete</a></button></td>

    </tr>
{% endfor %}

</table>
{% endblock %}
